<h1>{{titulo}}</h1>

<form>
  <div class="form-group">
    <label>
      Operador A
    </label>
    <input
    type = "number"
    class = "form-control"
    placeholder = "Escribe el primer numero"
    [(ngModel)] = "operadorA"
    name = "operadorA"
    />
  </div>
  <div class="form-group">
    <label>
      Operador B
    </label>
    <input
    type = "number"
    class = "form-control"
    placeholder = "Escribe el segundo numero"
    [(ngModel)] = "operadorB"
    name = "operadorB"
    />
  </div>
  <button type = "submit" class = "btn btn-primary"
  (click) = "Sumar()" >Sumar</button>
  <button type = "submit" class = "btn btn-primary"
  (click) = "Restar()" >Restar</button>
  <button type = "submit" class = "btn btn-primary"
  (click) = "Multiplicar()" >Multiplicar</button>
  <button type = "submit" class = "btn btn-primary"
  (click) = "Dividir()" >Dividir</button>

</form>
<p>Resultado {{resultado}} </p>